/*------------------------------------------------------------------------
=Flash Messages
------------------------------------------------------------------------*/

#flash {
  padding: 8px;
  margin-bottom: 18px;
}

#flash p {
  margin-bottom: 0;
}

#flash p.failure {
  background: #fcc;
  border: 1px solid #f00;
}

#flash p.notice {
  background: #fee37a;
  border: 1px solid #fd9b5b;
}

#flash p.success {
  background: #cbf285;
  border: 1px solid #3cab09;
}